<footer>
    <div class="container content">
        <div class="width-full">
            <p>Kudzu Playhouse is a 501(c)3 nonprofit organization whose mission is to bring performing arts to the
                community by showcasing talented actors and actresses of all ages in an open and encouraging
                environment, while also nurturing and developing young future performers, regardless of gender, race or
                socioeconomic background.</p>
        </div>
        <div class="width-full" style="overflow:auto;">
            <div class="col-5">
                <p>P.O. Box 47<br>Hernando, MS 38632<br>888-429-7871</p>
            </div>
            <div class="col-5">
                <p><img src="/uploads/hernando_chamber.png"/></p>
                <p><img src="/uploads/olive_branch_chamber.png"/></p>
            </div>
            <div class="col-5">
                <p><img src="/uploads/southaven_chamber.png"/></p>
                <p><img src="/uploads/horn_lake_chamber.jpg"/></p>
            </div>
            <div class="col-5">
                <p><img src="/uploads/mta.png"/></p>
                <p><img src="/uploads/aact.png"/></p>
            </div>
            <div class="col-5">
                <p><img src="/uploads/mississippi_arts_commision.png"/></p>
                <p><img src="/uploads/arts_gov.jpg"/></p>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".slick").slick({
            autoplay: true
        });

        var footerPosition = parseInt($("footer").offset().top, 10);
        var footerHeight = parseInt($("footer").height(), 10);
        var viewportHeight = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
        var margin = viewportHeight - (footerHeight + footerPosition);

        if (footerPosition < viewportHeight) {
            $("footer").css({marginTop: margin + 'px'})
        }
    });
</script>